body{
	background-color: #8BC34A
	
}
#bannerpic {
	float: right;
	margin:10px 50px 10px 10px;
	border-bottom: 10px solid #8BC34A;
	border-top: 10px solid red;
	border-left: 10px solid black;
	border-right: 10px solid black;
	padding: 5px; 
	box-shadow: 8px 8px 8px #224500;
}
h1{
	
	text-align: center;
	color: #0066ff;
	text-shadow: 3px 3px 3px #000066;
	
}
h2{
	text-align: center;
	color: #734d26;
}
.break {
	clear: both;

}
#BruceBanner{
	margin: 10px 0 0 50px;
}
#aboutme {
	
	font-size: 1.5em;
	background-color: #66ff33;
	color: #DDFFDD;
	padding: 10px;
	border-radius: 10px;
}

#aboutme:hover {
    box-shadow: 0 12px 16px 0 rgba(255,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 #infoaboutme {
 	color: #993399;
 	
 	font-size: 1.25em;
 	
 }

